<h1> List </h1>
<% @lists.each do |list| %>
 <p><%= list.name %></p>
<% end %>

<%= link_to 'Add New List', new_list_path, class: "nav-link" %>
<%= link_to 'See All', list_path(list), class: "btn btn-primary" %>
